@model Dominio.Models.BonusModel
@{
    ViewData["Title"] = "Apagar Bonus";
}

<div class="text-center">
    <h3>Realmente deseja apagar o contato(@Model.Name)?</h3>
    <br />
    <a class="btn btn-primary" asp-action="Index" asp-controller="Bonus" role="button">Canselar exclusão</a>
    <a class="btn btn-danger" asp-action="Apagar" asp-controller="Bonus" asp-route-id="@Model.Id" role="button">Confirmar exclusão</a>
</div>


