@model Dominio.Models.BonusModel
@{
    ViewData["Title"] = "Editar Bonus";
}

<div class="text-center">
    <h1 class="display-4">Editar Bonus</h1>
</div>

<form asp-controller="Bonus" asp-action="Alterar" method="post">

    <input type="hidden" asp-for="Id" />  
    <div class="mb-3">
        <label for="Nome">Nome</label>
        <input type="text" asp-for="Name" class="form-control" placeholder="Digite o Nome do contato">
         @Html.ValidationMessageFor(x => x.Name)
    </div>    

    <div class="mb-3">
        <label for="Valor">Valor</label>
        <input type="text" asp-for="Price" class="form-control" placeholder="Digite o valor">
        @Html.ValidationMessageFor(x => x.Price)
    </div>

    <button type="submit" class="btn btn-primary">Alterar</button>
    <a class="btn btn-secondary" asp-controller="Bonus" asp-action="Index" role="button">Voltar</a>
</form>