@using Dominio.Models
@model List<BonusModel>
@{
    ViewData["Title"] = "Bonus";
}

<h1>
    Bonus de vitoria
</h1>
<div class="bonus-content">
    <h2>Conteúdo bônus</h2>
    <img src="https://p4.wallpaperbetter.com/wallpaper/1/398/339/elden-ring-landscape-game-art-video-game-art-video-games-hd-wallpaper-preview.jpg" alt="Imagem bônus">
    <p>Aqui está uma imagem bônus para você desfrutar!</p>
</div>
<div>
    <table>
        <div>
            <h2>
                Vamos fazer o verdinho
            </h2>
        </div>
    </table>
</div>