@using Dominio.Models
@model List<BonusModel>
@{
    ViewData["Title"] = "Bonus";
}


<h2>
    Bonus de vitoria
</h2>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Exemplo de box com Razor e Bootstrap</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- CSS -->
    <style>
        #meuBox {
            border: 1px solid #ccc;
            padding: 10px;
            margin-top: 10px;
            display: none;
        }
    </style>
</head>
<body>
    <input type="button" value="Clique aqui" onclick="$('#meuBox').toggle();" class="btn btn-primary" />
    <div id="meuBox">
        <p>Conteúdo do box.</p>
    </div>

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
</body>
</html>

<br/>
<h3>Conteúdo bônus</h3>
<div class="bonus-content custom-control-inline">
   
    <img src="https://p4.wallpaperbetter.com/wallpaper/1/398/339/elden-ring-landscape-game-art-video-game-art-video-games-hd-wallpaper-preview.jpg" style="width: 200px; height: 159px; padding-right: 5px;" alt="Imagem bônus">
    <p>Aqui está uma imagem bônus para você desfrutar!</p>
    <img src="https://p4.wallpaperbetter.com/wallpaper/1/398/339/elden-ring-landscape-game-art-video-game-art-video-games-hd-wallpaper-preview.jpg" style="width: 200px; height: 159px;" alt="Imagem bônus">
    <p>Aqui está uma imagem bônus para você desfrutar!</p>
    
</div>
<br />
<div class="bonus-content">
   
    <img src="https://images8.alphacoders.com/115/1156488.png" style="width: 200px; height: 159px;" alt="Imagem bônus">
    <p>Aqui está uma imagem bônus para você desfrutar!</p>
    <img src="https://game.capcom.com/manual/MHRISE/locale/page/121_2_1.jpg?t=202302071000" style="width: 200px; height: 159px;" alt="Imagem bônus">
    <p>Aqui está uma imagem bônus para você desfrutar!</p>
</div>
<div>
    <table>
        <div>
            <h2>
                Vamos fazer o verdinho
            </h2>
        </div>
    </table>
</div>