@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="padding-top: 100px;">Contact Registration System</h1>
    <br />
    <p>communicate effectively</p>
    
</div>
